*{
    margin: 0;
    padding: 0;
}

.left{
    height: 99vh;
    width: 37vw;
    border: 1px solid black;
}

.bar{
    max-width: 100%;
}

.bar img{
    height: 10vh;
    width: 11vw;
}

/* .logo{
    top: 50px;
} */

.login{
    position: absolute;
    top: 30px;
    right: 0px;
    left: 255px;
    display: flex;
}

.log{
    color: black;
}

.login a{
    text-decoration: none;
    cursor: pointer;
}

.buttn{
    border: 1px solid black;
    background-color: black;
    color: white;
    width: 57px;
    height: 23px;
    margin: -2px 7px;
    padding: 0px 15px;
}

.left-h1{
    margin: 25px 5px;
}

.left-h2{
    color: #686b78;
    margin: 25px 5px;
}

.location-box{
    display: flex;
}

.FindMe{
    border: 1px solid #fc8019;
    background-color: #fc8019;
    text-decoration: none;
    color: white;
    height: 20px;
    width: 63px;
    margin: 0px 7px;
    padding: 0px 11px;
}

.right{
    position: absolute;
    background: url(/img/side-wallpaper1.jpg);
    height: 100%;
    width: 52%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    content: "";
    top: 0;
    left: 47%;
}

.firstDiv{
    position: relative;
    height: 100vh;
    width: 80vw;
    border: 2px solid red;
    left: 10%;
    /* right: 10%; */
}

.popular-text{
    color: #686b78;
    text-transform: uppercase;
    font-weight: 300;
}

.first-cities{
    list-style: none;
    display: flex;
    width: 50px;
    text-align: justify;
}

.first-cities li a{
    font-weight: 600;
    font-size: 16px;
    margin-right: 8px;
    color: #686b78;
    line-height: 1.5;
    letter-spacing: -.3px;
    text-decoration: none;
}
